#bulb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vmin;
  max-width: 400px;
}

.recharts-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#pie-chart-container {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recharts-pie-labels {
  color: --dark;
  font-weight: 600;
  font-size: 2.25vmin;
}